<br>
<%= form_for(@line) do |f| %>
  <div class="form-group">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <%= f.submit(:class => "btn btn-success") %>
<% end %>
<br>
<%= link_to "Go Back", root_path, :class => "btn btn-danger btn-sm" %>
